.DarkBox {
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.Cart {
  position: fixed;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.Header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  position: relative;
  background-color: black;
}

.Header > i {
  position: absolute;
  top: 0.25rem;
  left: 0.75rem;
  font-size: 2rem;
  color: #c31010;
}

.Header > h1 {
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 1.6rem;
  margin: 1rem auto;
}

.Body {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}

.Body::-webkit-scrollbar {
  display: none;
}

.Total {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid silver;
  background-color: #c31010;
  padding: 0.5rem 0;
}
.Total > h4 {
  font-family: 'Fredoka One', cursive;
  margin-right: 1rem;
  margin-top: 0.25rem;
}

.Total > span {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 1.5rem;
}

.Next {
  margin-top: auto;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.Next > button {
  margin: 0 auto;
  width: 100%;
  background-color: black;
  padding: 1rem;
  border: 2px solid black;
  color: white;
  font-size: 1.2rem;
  transition-duration: 200ms;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Next > button:disabled {
  color: silver;
  background-color: #24292e;
}

@media (min-width: 768px) {
  .Cart {
    width: 600px;
    height: 640px;
    top: 8rem;
  }
  .Next > button {
    padding: 2rem;
  }
}
